<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <input type="button" value="小酌" id='apily' style="width: 100%; height: 50px; background-color: red; margin: 20px auto;border: 0; border-radius: 3px; font-size: 20px; color: white;"   />
</body>
<script src="__PUBLIC__/js/flexible.js"></script>
<script type="text/javascript">
	document.getElementById('apily').onclick = function(){
		location.href = "http://miyacloud.cn/apily/index.php/WxpayRequest/apily.html/";
	}
</script>


</html>
